@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

#Button{
    border-radius: 8px;
    background-color: rgb(16, 6, 70);
    color:white;
    padding: 8px;
    margin-top: 50px;
}
.cover{
    background-color: rgb(86, 86, 201);
    text-align: center;
    height: 100vh;

}
@media (max-width: 600px) {
    img {
        width: 80%;
    }

    button {
        width: 80%;
    }
}
